.wrapper{
    width : 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(31, 31, 31);
    margin-top: 100px;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(114, 114, 114), -3px -3px 6px rgb(131, 131, 131);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
   padding-bottom: 3px;
}

.logo2{
    width : 60px;
    height: 60px;
    object-fit: cover;
}

.box{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input{
    outline: none;
    padding: 10px;
    border : 2px solid white;
    background: #3e3d3d;
    color : white;
}

.submitButton{
    width : 100%;
}

.submitButton:hover{
    background-color: white;
    border : 2px solid #3e3d3d;
    color : #3e3d3d;
}

label{
    font-size: 20px;
    font-weight: 400;
} 
