.bg2{
    width: 100%;
    position: absolute;
    top : 0;
    left : 0;
    z-index: -1;
}

.heading{
    width : 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 20px;
}

.place{
    padding: 10px;
    border : 2px solid rgb(0, 0, 0);
    background: #3e3d3d;
    color : white;
}

.add{
    color : black;
    padding: 10px;
    border : 2px solid rgb(0, 0, 0);
    background: #3e3d3d;
    color : white;
    cursor: pointer;
}

.drones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.droneItme{
    width : 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
}

.dimg{
    width : 100px;
    height: 55px;
    object-fit: cover;
    filter: drop-shadow(6px 6px 4px black);
}

.customers{
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.customerCard{
    width : 250px;
    background-color: #2d2d2d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(186, 186, 186);
}

.customerHead{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.cusItem{
    color : white;
    font-size: 18px;
}

.cusButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.customUp, .deleteCustomer{
    width: 80px;
    padding: 5px;
    border: 2px solid rgb(241, 241, 241);
    text-align: center;
    cursor: pointer;
    color: rgb(241, 241, 241);
    margin: 0 2px 0 2px;
    margin : 0px 8px 0 8px;
}

.customUp:hover{
    background-color: white;
    border : 2px solid #3e3d3d;
    color : #3e3d3d;
    font-weight: 500;
}

.deleteCustomer:hover{
    background-color: white;
    border : 2px solid #3e3d3d;
    color : #3e3d3d;
    font-weight: 500;
}

.updateCustomer{
    border: 2px solid rgb(241, 241, 241);
    text-align: center;
    cursor: pointer;
    color: rgb(241, 241, 241);
}

.bookingHead{
    width: 100%;
    font-size: 18px;
    color: #acacac;
    font-weight: 500;
    margin : 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

.bookPara{
    font-size: 15px;
    color: #6f6f6f;
    font-weight: 700;
}

.bookingButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.allButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid black;
    padding-top: 3px;
    margin-top: 6px;
}



.bookingadd{
    width: 82%;
    padding: 2px;
    border: 2px solid rgb(2, 2, 2);
    text-align: center;
    cursor: pointer;
    color: rgb(241, 241, 241);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #3e3d3d;
}

.bookingadd:hover{
    background-color: #d6d6d6;
    color: rgb(21, 21, 21);
}

.updatebooking, .deleteBooking{
    width: 80px;
    padding: 5px;
    border: 2px solid rgb(241, 241, 241);
    text-align: center;
    cursor: pointer;
    color: rgb(241, 241, 241);
    margin: 0 2px 0 2px;
}

.updatebooking:hover, .deleteBooking:hover{
    background-color: white;
    border : 2px solid #3e3d3d;
    color : #3e3d3d;
    font-weight: 500;
}